* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 6rem auto;
}

.sections {
  scroll-margin-top: 10rem;
}

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
}

.move {
  background-color: rgba(0, 0, 0, 0.8);
}

.burgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burgerMenu button,
.burgerMenu i {
  font-size: 2em;
  padding: 0.75rem 1.2rem;
  border: none;
  background: transparent;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.burgerMenu a {
  font-size: 1.5rem;
  padding: 0rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.hide {
  display: none;
}

ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4b122c;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9), -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
}

ul li {
  margin: 1.5em;
  list-style: none;
  font-size: 2.4rem;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: white;
}

.showOptions {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.language {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
}

.language .circle {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: yellow;
  margin: 1em 1em;
  z-index: 2;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.language .flages {
  background-image: url("../img/Flag_of_Spain.png");
}

.language .flagpl {
  background-image: url("../img/poland.png");
}

.language .flagen {
  background-image: url("../img/United_Kingdom.png");
}

header {
  overflow: hidden;
}

.heroImg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero1920.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.heroText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

.heroText h1 {
  margin-bottom: 1em;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.heroText p {
  font-size: 1.8rem;
}

.aboutus {
  position: relative;
  scroll-margin-top: 100px;
}

.aboutcard {
  position: relative;
  margin: 2em 1em;
  height: 400px;
  background-image: url("../img/ruda1920.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px red;
          box-shadow: 0px 2px 5px red;
  overflow: hidden;
}

.aboutcard .abouttext {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100px;
  top: 75%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
}

.aboutcard .abouttext h3 {
  font-size: 2rem;
}

.aboutcard .abouttext p {
  padding: 0.2em 0.4em;
  font-size: 1.3rem;
}

.officeInfo {
  margin: 2em;
  text-align: justify;
  font-size: 1.4rem;
}

.aboutdisplaytext {
  display: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contactForm {
  width: 100%;
}

.contact .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contact .contactForm form label {
  font-size: 2rem;
  margin: 0.5em 1em;
}

.contact .contactForm form input,
.contact .contactForm form select,
.contact .contactForm form textarea {
  width: 80%;
  height: 60px;
  padding: 0.6em;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 8px;
}

.contact .contactForm form select {
  text-align: center;
}

.contact .contactForm form textarea {
  max-width: 80%;
  min-width: 80%;
  width: 100%;
  min-height: 150px;
}

.contact .contactForm form button {
  margin-top: 1em;
  width: 200px;
  padding: 0.5em 1em;
  color: white;
  font-size: 3rem;
  background-color: #4b122c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.contact .adress .adresInfo {
  margin-top: 1em;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 8px;
}

.contact .adress .adresInfo h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}

.contact .adress .adresInfo a {
  font-size: 3rem;
  text-decoration: none;
  color: #4b122c;
}

.contact .adress .adresInfo p {
  padding: 0.5em;
  font-size: 1.4em;
}

.contact .adress .adressMap {
  width: 100%;
}

.contact .adress .adressMap p {
  text-align: center;
  font-size: 2rem;
  margin: 1em;
}

.contact .adress .adressMap iframe {
  width: 100%;
  min-height: 400px;
}

@media (min-width: 768px) {
  .section-header {
    font-size: 5rem;
  }
  .burgerMenu a {
    font-size: 2.2rem;
  }
  ul > li {
    font-size: 3rem;
  }
  .heroText h1 {
    font-size: 4rem;
  }
  .heroText p {
    font-size: 2.2rem;
  }
  .circle {
    width: 70px;
    height: 70px;
  }
  .displayview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2em;
  }
  .displayview .aboutcard {
    height: 600px;
    width: 50%;
  }
  .displayview .abouttext {
    display: none;
  }
  .aboutdisplaytext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 50%;
    color: black;
  }
  .aboutdisplaytext h3 {
    margin-bottom: 4rem;
    font-size: 5rem;
  }
  .aboutdisplaytext p {
    font-size: 2rem;
  }
  .officeInfo {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .burgerMenu a {
    font-size: 2.7rem;
  }
  ul > li {
    font-size: 3.4rem;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 3rem;
  }
  .contact .contactForm {
    margin: 0;
  }
  .contact .contactForm form {
    margin: 0;
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */