* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #030001;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
}

.section-header {
  padding: 1.5em 0em 2em 0em;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

.sections {
  scroll-margin-top: 5rem;
}

@-webkit-keyframes showLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .section-header {
    font-size: 5rem;
  }
  .nav .burger-menu__logo {
    font-size: 2rem;
  }
  .menuList__item-link {
    font-size: 5rem;
  }
  .header .header__hero-text .heading-sub {
    font-size: 2.6rem;
    padding: 0 2rem;
  }
  .header .header__hero-text .heading-main {
    font-size: 7rem;
  }
  #aboutus p {
    margin: 0rem 2rem 0rem 2rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  #aboutus .info-list li {
    font-size: 2rem;
  }
  .services .accordeon__title {
    font-size: 2.5rem;
  }
  .services .accordeon__text p {
    font-size: 2rem;
  }
  .services .accordeon__text span {
    font-size: 2.2rem;
  }
  .services .accordeon__text-list {
    font-size: 2rem;
  }
  .services .accordeon__text-list .price-table {
    width: 60%;
  }
  #contact .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin: 0;
  }
  #contact .contact__form form {
    width: 100%;
    margin: 0;
    bottom: 0;
  }
  #contact .contact__form form label {
    font-size: 1.8rem;
  }
  #contact .contact__adress {
    width: 50%;
  }
  #contact .contact__adress-info {
    margin: auto 0;
    width: 100%;
    height: 60%;
  }
}

@media (min-width: 992px) {
  #aboutus p {
    margin: 0rem 4rem 0rem 4rem;
    padding: 1rem 6rem;
    font-size: 2rem;
    text-align: center;
  }
}

.nav {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  z-index: 3;
}

.move {
  background-color: rgba(3, 0, 1, 0.8);
}

.header {
  position: relative;
  overflow: hidden;
}

.header__hero-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -20;
}

.header__hero-text {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  z-index: 2;
}

.header__hero-text .heading-main {
  font-size: 4rem;
  text-transform: uppercase;
}

.header__hero-text .heading-sub {
  margin: 0.5em;
  font-size: 2rem;
}

.aboutus {
  position: relative;
}

.aboutus__office-info {
  margin: 1rem 1rem 0rem 1rem;
  padding: 0.75rem;
  text-align: justify;
  font-size: 1.5rem;
  color: #fff;
}

.aboutus__office-info span {
  font-weight: bold;
}

.aboutus .info-list li {
  margin: 0.2rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
}

.services {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030001));
  background-image: linear-gradient(#030001);
}

footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

.footer {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu__menuBtn, .burger-menu .fas {
  font-size: 2em;
  padding: 0.75rem 1.2rem;
  border: none;
  background: transparent;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}

.burger-menu__logo {
  text-align: center;
  font-size: 1.5rem;
  padding: 0rem 1rem;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  visibility: hidden;
}

.burger-menu__logo span {
  text-transform: uppercase;
  font-weight: bold;
}

.burger-menu__logo.move {
  visibility: visible;
  -webkit-animation: showLogo 1s;
          animation: showLogo 1s;
  background-color: rgba(3, 0, 1, 0);
}

.hide {
  display: none;
}

.menuList {
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00838F;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
  transition: transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9), -webkit-transform 0.8s cubic-bezier(0.01, 0.65, 0.38, 0.9);
}

.menuList__item {
  margin: 1.5em;
  list-style: none;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.menuList__item-link {
  text-decoration: none;
  color: #fff;
}

.showOptions {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.language {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.language__circle {
  width: 40px;
  height: 40px;
  margin: 1em 1em;
  background-size: cover;
  background-position: center;
  border: 1px solid #030001;
  cursor: pointer;
}

.language .flages {
  background-image: url("../img/Flag_of_Spain.png");
}

.language .flagpl {
  background-image: url("../img/poland.png");
}

.language .flagen {
  background-image: url("../img/United_Kingdom.png");
}

.accordeon {
  margin: 3rem auto;
  margin-bottom: 1rem;
  width: 80%;
  padding-bottom: .5rem;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  overflow: hidden;
}

.accordeon__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.accordeon__text {
  margin-top: 1rem;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  color: #fff;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.accordeon__text p {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.6;
}

.accordeon__text span {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.accordeon__text-list {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.accordeon__text-list .price-table {
  border: 1px solid #00838F;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.accordeon__text-list .price-table th {
  border-bottom: 1px solid white;
}

.accordeon.active {
  border-bottom: 2px solid #00838F;
}

.accordeon.active .accordeon__title {
  color: #00838F;
}

.accordeon.active .accordeon__text {
  max-height: 700px;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.accordeon.active i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.accordeon i {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  width: 100%;
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contact__form form label {
  font-size: 1.5rem;
  margin: 0.7rem 0.5rem;
  color: white;
}

.contact__form form input,
.contact__form form select,
.contact__form form textarea {
  margin-bottom: 2rem;
  width: 80%;
  height: 40px;
  font-size: 1.4rem;
  background: none;
  border: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.contact__form form select {
  text-align: center;
  color: white;
}

.contact__form form textarea {
  max-width: 80%;
  min-width: 80%;
  padding: 0.6rem;
  width: 100%;
  min-height: 150px;
  border: 1px solid white;
  color: white;
}

.contact__form form button {
  margin-top: 1rem;
  width: 80%;
  padding: 0.75em 1em;
  color: white;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #00838F;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact__form form button:hover {
  background-color: #00838F;
}

.contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.contact__adress-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  width: 90%;
  border: 2px solid #fff;
}

.contact__adress-info a {
  padding: 0rem 0.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: #00838F;
}

.contact__adress-info p {
  font-size: 1.4em;
  color: #00838F;
}

.contact__adress-info .mainp {
  padding: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
}

.contact__adress-info .pinfo {
  margin-top: 1em;
  padding: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-decoration: underline;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */