.aboutus {
	position: relative;
	background-image: linear-gradient(
		$color-bg 10%,
		$color-secoundary,
		$color-secoundary,
		$color-bg
	);

	&__office-info {
		margin: 1rem 1rem 0rem 1rem;
		padding: 0.75rem;
		text-align: justify;
		font-size: 1.5rem;
		color: $color-white;

		span {
			font-weight: bold;
			// text-decoration: underline;
		}
	}
	.info-list li {
		margin: 0.2rem;
		text-align: center;
		color: $color-white;
		font-size: 1.5rem;
		list-style: none;
	}
}
