
footer {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 8vh;
	border-top: 1px solid $color-contrast;
}
.footer {
	text-align: center;
	font-size: 2rem;
	color: white;
}
