.accordeon {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
	width: 90%;
	align-items: center;
	background-color: transparent;
	// border-radius: 8px;
	
	&__box {
		position: relative;
		margin: 1rem;
		
		
		
		&-info {
			// position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-height: 0;
			overflow: hidden;
            // border-top-left-radius: 15px;
            // border-top-right-radius: 15px;
			// background-color: $color-white;
			transition: max-height .5s;

		

			// i{
			// position:absolute ;
			// top: 0;
			// right: 0;
			// color: #fff;
			// font-size: 2rem;
			// transition: all 0.1s;
			// z-index: 1025;
			// }
		
		
		
			
			.info-text {
				
				font-size: 1.2rem;
				text-align: center;
				padding: 1rem;				
				color: $color-white;
				// width: 70rem;
				
				span {
					margin: 1rem;
					text-align: center;
					padding: 1em;
					font-size: 1.3em;
					font-weight: bold;
                    color: $color-white;
				}
			}
			.info-prices{
				font-size: 1.2rem;
				text-align: center;
				padding: 1rem;				
				color: $color-white;
				
				span{
					text-align: center;
					padding: 1em;
					font-size: 1.3em;
					font-weight: bold;
                    color: $color-white;
				}
				
				li{
					margin: 0.4rem;
				}
			}
		}
	}
	
	&__btn {
		position: relative;
		padding: 1em;
		width: 100%;
		font-size: 1.4rem;
		text-align: center;
		border: none;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		background: none;
		transition: background-color 0.3s;
		color: $color-white;
		cursor: pointer;
		transition: all 1s;
		

		&::before{
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: 1px solid white;
			width: 100%;
		}

		i{
			
			margin-left: 1rem;	
		}

		&:focus
		 {
			
			i{
				transform: rotate(180deg);
			}
		}
		
	
	
			
		}
	}
	



.active {

	max-height: 1000px;
	transition: max-height 1s;
}

.active i{

	transform: rotate(180deg);
	
}



