.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__form {
		width: 100%;

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			label {
				font-size: 1.5rem;
				margin: 0.5em 1em;
				color: white;
			}

			input,
			select,
			textarea {
                margin-bottom: 1rem;
				width: 80%;
				height: 40px;
				padding: 0.6em;
				font-size: 14px;
				border: 1px solid rgba(0, 0, 0, 0.178);

				border-radius: 8px;
			}

	
			select {
				text-align: center;
			}
			textarea {
				max-width: 80%;
				min-width: 80%;
				width: 100%;
				min-height: 150px;
			}

			button {
				margin-top: 1rem;
				width: 80%;
				padding: 0.75em 1em;
				color: white;
				font-size: 1.5rem;
				background-color: #00838f;
				border: none;
				border-radius: 8px;
				cursor: pointer;
			}
		}
	}

	&__adress {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		text-align: center;

		&-info {
			margin-top: 2em;
			padding: 1rem 0rem 1rem 0rem;
            width: 90%;
			border: 1px solid rgba(0, 0, 0, 0.178);
			border-radius: 8px;
			background-color: white;

			a {
				padding: 0rem 0.5rem;
				font-size: 2rem;
				text-decoration: none;
				color: rgb(75, 18, 44);
			}
			p {
				font-size: 1.4em;
			}
			.mainp {
				padding: 0.5em;
				font-size: 1.4em;
				font-weight: bold;
			}

			.pinfo {
				margin-top: 1em;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.8rem;
				text-decoration: underline;
			}
		}
	}

}