.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__form {
		width: 100%;

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			label {
				font-size: 1.5rem;
				margin: 0.7rem 0.5rem;
				color: white;
			}

			input,
			select,
			textarea {
				margin-bottom: 2rem;
				width: 80%;
				height: 40px;
				// padding: 0.6em;
				font-size: 1.4rem;
				background: none;
				border: none;
				// border: 2px solid rgba(0, 0, 0, 0.178);
				border-bottom: 1px solid white;
				color: white;

				border-radius: 0;
			}

			select {
				text-align: center;
				color: white;

				option {
					color: $color-bg;
				}
			}
			textarea {
				max-width: 80%;
				min-width: 80%;
				padding: 0.6rem;
				width: 100%;
				min-height: 150px;
				border: 1px solid white;
				color: white;
			}

			button {
				margin-top: 1rem;
				width: 80%;
				padding: 0.75em 1em;
				color: white;
				font-size: 1.5rem;
				background: none;
				// background-color: #00838f;

				border: 2px solid $color-contrast;
				// border-radius: 8px;
				cursor: pointer;
				transition: background-color 0.5s;

				&:hover {
					background-color: $color-contrast;
				}
			}
		}
	}

	&__adress {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		text-align: center;

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 2rem;
			// padding: 0rem rem;
			width: 90%;
			// height: 60%;
			border: 2px solid $color-white;
			// // border-radius: 8px;
			// // background-color: white;

			a {
				padding: 0rem 0.5rem;
				font-size: 2rem;
				text-decoration: none;
				color: $color-contrast;
			}
			p {
				font-size: 1.4em;
				color: $color-contrast;
			}
			.mainp {
				padding: 0.5em;
				font-size: 1.4em;
				font-weight: bold;
				color: $color-white;
			}

			.pinfo {
				margin-top: 1em;
				padding: 1rem 1rem;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.8rem;
				text-decoration: underline;
				color: $color-white;
			}
		}
	}
}
