@media (min-width: 768px) {
	.section-header {
		font-size: 5rem;
	}
	// Nawigacja

	.nav {
		.burger-menu__logo {
			font-size: 3rem;
		}
	}

	.menuList {
		&__item {
			&-link {
				font-size: 5rem;
			}
		}
	}

	// Header
	.header {
		.header__hero-text {
			.heading-sub {
				font-size: 2.6rem;
				padding: 0 2rem;
			}
			.heading-main {
				font-size: 7rem;
			}
		}
	}

	// O Biurze====================
	// niestety trzeba zastosować ID
	#aboutus {
		p {
			margin: 0rem 2rem 0rem 2rem;
			padding: 2rem;
			font-size: 2rem;
			text-align: center;
		}

		.info-list li {
			font-size: 2rem;
		}
	}

	// ACCORDEON

.services {

	.accordeon {
        
        
        &__box {
           
            
            
            
            &-info {
             
            
            
                
                .info-text {
                    margin-top: 1rem;
                    padding: 0rem 4rem 0rem 4rem;
                    font-size: 1.8rem;

                  
                    // width: 70rem;
                    
                
                }
                .info-prices{
                    font-size: 1.8rem;
                    text-align: center;
                    padding: 1rem;				
                    color: $color-white;
                    
                }
            }
        }
        
        &__btn {
          
            font-size: 2.2rem;
          
            
        
                
            }
        }
        .active {
        
            max-height: 1000px;
            transition: max-height 1s;
        }
	}
}


